# Ignore everything
*

# Not these
!install_env.sh
!.gitignore
!.gitconfig
!dwm/
!dwm/config.h
!st
!st/config.h
!.xbindkeysrc
!.keynavrc
!.tmux.conf
!.fehbg
!.xinitrc
!boombox
!.zlogin
!.mutt/
!.mutt/macros
!.mutt/muttrc
!.mutt/mailcap
!.mutt/sig
!.mutt/mutt-ics
